<?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:context="http://www.springframework.org/schema/context"
           xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
<!--开启注解的支持-->
    <context:annotation-config/>

    <bean id="cat" class="com.zcw.pojo.Cat"/>
    <bean id="cat2" class="com.zcw.pojo.Cat"/>
    <bean id="dog22" class="com.zcw.pojo.Dog"/>
    <bean id="people" class="com.zcw.pojo.People"/>

<!--byname : 会自动在容器上下文中查找 和自己对象set方法后面的值对应的beanID
    bytype : 会自动在容器上下文中查找 和自己对象属性类型相同的bean-->
<!--    <bean id="people" class="com.zcw.pojo.People" autowire="byName">-->
<!--        <property name="name" value="赵成伟"/>-->
<!--    </bean>-->
</beans>